.action-button {
    background-color: #fab387;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
}

.action-button:hover {
    background-color: #f9a36f;
}
